*, *::before, *::after {
    box-sizing: border-box;
    font-family: var(--main-font);
}

:root {
    --light-sage: #8fa281;
    --light-ivory: #fdf5e7;
    --slate-gray: #69757a;
    --slate-gray-transparent: #69757ae4;
    --main-font: 'Mulish', sans-serif;

}

body {
    background-color: var(--light-sage);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--main-font);
    height: 3.5rem;
    width: 100vw;
    background-color: var(--slate-gray-transparent);
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-wrapper a{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-title {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--light-ivory);
}

.logo {
    max-height: 2.5rem;
    padding-left: 1rem;

}

.nav {
    display: flex;
    gap: 1.75rem;
    padding-right: 2rem;
}

.nav a {
    font-size: 1rem;
    font-weight: 200;
    text-decoration: none;
    color: var(--light-ivory);
}

.nav a:hover {
    color: var(--light-sage);
}

.logo-splash {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    background-color: var(--light-sage);
}

.splash-logo-wrapper img {
    filter: drop-shadow(4px 4px 8px rgb(47, 46, 46)
    )
}

.help-quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    padding-bottom: 1rem;
    background-color: white;
}

.splash-logo {
    max-width: 40vh;
}

.help-quote {
    font-size: 2.5rem;
    font-weight: 500;
    font-family: var(--main-font);
    font-style: italic;
    color: var(--light-sage);
    text-shadow: 2px 3px 4px rgb(199, 197, 197);
}

.button {
    font-family: var(--main-font);
    font-weight: 500;
    background-color: var(--light-sage);
    border: none;
    font-size: 1.5rem;
    color: var(--light-ivory);
    padding: .5rem 1.25rem;
    border-radius: .5em;
    box-shadow: 2px 3px 4px gray;
    cursor: pointer;
}

.button p {
    margin: 0;
    text-shadow: 2px 2px 4px gray;
}

.button:hover {
    background-color: #a3b994;
}

.get-started-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--slate-gray);
    min-height: 35vh;

}
.get-started-section h3 {
    color: var(--light-ivory);
    font-family: var(--main-font);
    font-size: 2rem;
}

.get-started-steps-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-basis: 100%;
    width: auto;
}

.get-started-steps-wrapper :nth-child(1) {
    border-right-color: var(--light-ivory);
}

.get-started-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    gap: .5rem;
    color: var(--light-sage);
    font-weight: 700;
    text-shadow: 2px 2px 4px rgb(32, 32, 32);
    min-width: 20vw;
}

.get-started-step img {
    max-width: 40px;
}

.help-para-section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    background: white;
    gap: 2rem;
}

.help-article {
    max-width: 30vw;
    font-size: 1.25rem;
}

.help-article h3 {
    font-size: 2rem;
}

.headshot-img {
    max-width: 30vw;
    box-shadow: 2px 2px 10px gray;
    border-radius: .25em;
}

.help-para-title {
    font-size: 1.5rem;
}

.book-consult-para {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--light-ivory);
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--slate-gray);
}

.book-consult-para h2 {
    font-size: 1.75rem;
}
.consult-calendar-section {
    padding-bottom: 2rem;
}

.main-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 1rem;
    padding-bottom: 2rem;
}

.bottom-wrapper {
    display: flex;
    justify-content: space-between;
}

.social-media-area {
    display: flex;
    gap: 2rem;
}

.ramsey {
    max-width: 300px;
}

.facebook {
    max-width: 40px;
}

.footer-nav {
    display: flex;
    flex-basis: 100%;
    padding-right: 0px;
}

.footer-nav a {
    color: black;
    font-weight: bold;
}



